.icon {
    width: 22px;
    height: 22px;
  }
  
  .dark {
    display: none;
  }
  
  .light {
    display: block;
  }
  
  .light.dark-mode {
    display: none;
  }
  
  .dark.dark-mode {
    display: block;
  }